.fc-daygrid-day-number {
    text-align: center;
    text-decoration: none;
  }

  .fc .fc-daygrid-day-number {
    padding: 4px;
    position: relative;
    z-index: 4;
    /* color: rgb(26, 26, 26);   */
}

.fc .fc-daygrid-day-top {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.fc .fc-timegrid-slot {
    border-bottom: 0px;
    height: 3.5em;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 4em;
    position: relative;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
    text-align: center;
    font-size: 14px;
}

  .fc-event-title {
    font-size: 13px;
    font-weight: 500;
  }
  .fc-time-grid-container {
    padding-top: 20px; 
  }

  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em;
}

.fc .fc-button-primary {
    background-color: #bdbdbd;
    border-color: #000000;
    border-radius: 8px;
    color: #000;
}

/* .fc .fc-button-primary:active {
    background-color: var(--fc-button-bg-color);
    border-color: var(--fc-button-border-color);
    color: var(--fc-button-text-color);
} */

.fc .fc-button-primary:hover {
    /* background-color: var(--fc-button-hover-bg-color);
    border-color: var(--fc-button-hover-border-color);
    color: var(--fc-button-text-color); */
    /* background-color: #6BB4D8; */
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    /* background-color: var(--fc-button-active-bg-color); */
    /* background-color: rgba(151, 151, 255, 0.595); */
    border-color: var(--fc-button-active-border-color);
    color: var(--fc-button-text-color);
}

/* button-primary:not(:disabled):active {
    background-color: #cccc;
    border-color: #000000;
    color: #000000;
} */

.fc .fc-button-primary:focus {
    box-shadow: none;
}

.fc-multimonth-month {
    width: 100% ;
}

.fc .fc-daygrid-more-link {
    border-radius: 3px;
    cursor: pointer;
    line-height: 1;
    margin-top: 1px;
    max-width: 100%;
    overflow: hidden;
    padding: 2px;
    position: relative;
    white-space: nowrap;
    z-index: 4;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
}

.fc-theme-standard .fc-popover-header {
    background: var(--fc-neutral-bg-color);
    color: black;
}

.fc-timegrid-event .fc-event-main {
    padding: 0px 0px 0px;
}

.fc-timegrid-event .fc-event-time {
    font-size: 8px;
    margin-bottom: 1px;
    white-space: nowrap;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #fed58e9b;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
    /* color: #000000; */
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0px;
    /* color: #232323; */
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-top {

}

.fc .fc-daygrid-day-top {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 3px auto;
}

.fc-theme-standard td, .fc-theme-standard th {
    border-bottom: 1px solid #DADCE0;
}

.fc-col-header-cell .fc-day .fc-day-mon {
    border-bottom: none !important;
}

.fc-col-header-cell .fc-day .fc-day-tue {
    border-bottom: none !important;
}

.fc-col-header-cell .fc-day .fc-day-wed {
    border-bottom: none !important;
}

.fc-col-header-cell .fc-day .fc-day-thu {
    border-bottom: none !important;
}

.fc-col-header-cell .fc-day .fc-day-fri {
    border-bottom: none !important;
}

.fc-col-header-cell .fc-day .fc-day-sat {
    border-bottom: none !important;
}

.fc-col-header-cell .fc-day .fc-day-sun {
    border-bottom: none !important;
}


.fc-theme-standard th {
    border-bottom: 0px solid #DADCE0;
}

.fc-theme-standard td {
    border-bottom: 1px solid #DADCE0 !important;
}

.fc th {
    text-align: center;
}
.fc .fc-daygrid-event-harness {
    margin: 0 5px 3px 5px;
}

.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
    padding: 1px 0px 1px 5px;
}


.event-popup {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    height: 180px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
    z-index: 9999;
  }

  .fc-event {
    position: relative;
    z-index: 1; 
  }

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fc-h-event .fc-event-main:hover {
    background-color: #cccccc85;
}

.fc-theme-standard .fc-scrollgrid {
    border: 2px solid #bbbaba79;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 2px solid #78787879;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 2px solid #78787879;
}

.action-button {
    padding: 5px 5px 0px 5px;
    color: #7a7a7a;
}

.popup-title {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.popup-money .popup-priority {
    font-size: 15px;
}

.popup-money {
    padding-left: 25px;
    font-size: 15px;
    padding-top: 5px;
}

.popup-priority {
    padding-left: 25px;
    font-size: 15px;
    padding-top: 5px;
}

.popup-time {
    font-size: 15px;
    padding-left: 10px;
}

.title-text {
    padding-left: 10px;
}

.color-title {
    padding: 5px;
    width: 1px;
    height: 1px;
    border-radius: 55px;
    margin-left: 5px;
}

.notifys-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.notify-icon {
}

.notify-text {
    padding-left: 5px;
    font-size: 15px;
}

.event-popup {
}