@import url("https://fonts.googleapis.com/css2?family=Poppins:ital:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    /* background-color:  #FFE1F6; */
    /* padding-left: 15px; */
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-ai-button {
    position: fixed;
    bottom: 50px; /* điều chỉnh khoảng cách từ bottom nếu cần */
    right: 15px; /* điều chỉnh khoảng cách từ right nếu cần */
    z-index: 9999;
  }